.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 100%;
    z-index: 1000;
    animation: fadeOut ease 3s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}


@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .greeting {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 40vh;
    font-size: 69px;
    font-weight: 300;
    font-family: cursive;
    color: slategrey;
    animation: fadeOut ease 1s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
  }